In [1]:
import numpy as np

In [2]:
def chartoint(c):
    if(c >= '0' and c <= '9'):
        return int(c) - int('0')
    elif(c == '.'):
        return 36
    elif(c == ' '):
        return 37
    elif(c >= 'a' and c <= 'z'):
        return ord(c) - ord('a') + 38
    else:
        return ord(c) - ord('A') + 10

In [3]:
def encode(s):
    return [chartoint(char) for char in s]

In [4]:
# input string
s = 'hello world!'
s = encode(s)
print(s)

[45, 42, 49, 49, 52, 37, 60, 52, 55, 49, 41, -22]

In [5]:
# dimension of the adjacency matrix (dim, dim)
dim = len(s) + 1
D1 = np.zeros((dim, dim), dtype = int)

In [6]:
for i in range(dim-1):
    D1[i, i+1] = D1[i+1, i] = s[i]
D1

array([[  0,  45,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 45,   0,  42,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,  42,   0,  49,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,  49,   0,  49,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,  49,   0,  52,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  52,   0,  37,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,  37,   0,  60,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,  60,   0,  52,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  52,   0,  55,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  55,   0,  49,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  49,   0,  41,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  41,   0, -22],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, -22,   0]])

In [7]:
D2 = np.random.randint(0, 64, (dim, dim))
D2

array([[38, 12, 17,  5, 15, 40, 56, 52, 52, 17, 57,  1, 42],
       [10, 25, 56, 38, 21, 61, 48, 10, 58,  6, 26, 24, 54],
       [38,  5, 51, 62, 18,  8, 44, 33, 47, 10, 59, 45, 46],
       [31, 26, 51, 52, 19, 34,  0, 26, 43, 63, 18, 34, 44],
       [22, 19, 56, 26, 26, 41,  1, 60, 46, 43, 49,  6, 24],
       [59, 40,  0, 30, 32, 37, 18, 44, 46, 38, 61, 46, 18],
       [25, 18, 39, 31, 36, 30, 39,  1,  5, 49, 35, 20,  5],
       [ 1, 33, 33, 31, 58, 57, 23, 10, 52, 11, 22, 57, 57],
       [43, 32,  3, 33, 58, 20, 31, 45, 62, 37, 63, 57, 35],
       [46, 62, 51, 34,  6, 45, 12,  1, 50, 22, 49,  6,  0],
       [ 2, 55, 55, 11, 46, 62, 38,  5, 15, 53, 22, 42,  5],
       [49,  3, 19, 24, 57, 16, 16, 57, 59, 45, 12, 28, 53],
       [62, 29, 61, 39, 42,  7, 57,  0,  1, 20, 41,  6, 58]])

In [8]:
for i in range(dim-1):
    D2[i, i+1] = D2[i+1, i] = s[i]
D2

array([[ 38,  45,  17,   5,  15,  40,  56,  52,  52,  17,  57,   1,  42],
       [ 45,  25,  42,  38,  21,  61,  48,  10,  58,   6,  26,  24,  54],
       [ 38,  42,  51,  49,  18,   8,  44,  33,  47,  10,  59,  45,  46],
       [ 31,  26,  49,  52,  49,  34,   0,  26,  43,  63,  18,  34,  44],
       [ 22,  19,  56,  49,  26,  52,   1,  60,  46,  43,  49,   6,  24],
       [ 59,  40,   0,  30,  52,  37,  37,  44,  46,  38,  61,  46,  18],
       [ 25,  18,  39,  31,  36,  37,  39,  60,   5,  49,  35,  20,   5],
       [  1,  33,  33,  31,  58,  57,  60,  10,  52,  11,  22,  57,  57],
       [ 43,  32,   3,  33,  58,  20,  31,  52,  62,  55,  63,  57,  35],
       [ 46,  62,  51,  34,   6,  45,  12,   1,  55,  22,  49,   6,   0],
       [  2,  55,  55,  11,  46,  62,  38,   5,  15,  49,  22,  41,   5],
       [ 49,   3,  19,  24,  57,  16,  16,  57,  59,  45,  41,  28, -22],
       [ 62,  29,  61,  39,  42,   7,  57,   0,   1,  20,  41, -22,  58]])

In [9]:
B = np.dot(D1, D2)
B

array([[ 2025,  1125,  1890,  1710,   945,  2745,  2160,   450,  2610,
          270,  1170,  1080,  2430],
       [ 3306,  3789,  2907,  2283,  1431,  2136,  4368,  3726,  4314,
         1185,  5043,  1935,  3822],
       [ 3409,  2324,  4165,  4144,  3283,  4228,  2016,  1694,  4543,
         3339,  1974,  2674,  4424],
       [ 2940,  2989,  5243,  4802,  2156,  2940,  2205,  4557,  4557,
         2597,  5292,  2499,  3430],
       [ 4587,  3354,  2401,  4108,  5105,  3590,  1924,  3562,  4499,
         5063,  4054,  4058,  3092],
       [ 2069,  1654,  4355,  3695,  2684,  4073,  1495,  5340,  2577,
         4049,  3843,  1052,  1433],
       [ 2243,  3460,  1980,  2970,  5404,  4789,  4969,  2228,  4822,
         2066,  3577,  5122,  4086],
       [ 3736,  2744,  2496,  3576,  5176,  3260,  3952,  6304,  3524,
         5800,  5376,  4164,  2120],
       [ 2582,  5126,  4521,  3482,  3346,  5439,  3780,   575,  5729,
         1782,  3839,  3294,  2964],
       [ 2463,  4455,  2860,  2354,  5444,  4138,  3567,  3105,  4145,
         5426,  4543,  5144,  2170],
       [ 4263,  3161,  3278,  2650,  2631,  2861,  1244,  2386,  5114,
         2923,  4082,  1442,  -902],
       [-1282,  1617,   913,  -407,   962,  2388,   304,   205,   593,
         1569,     0,  2165, -1071],
       [-1078,   -66,  -418,  -528, -1254,  -352,  -352, -1254, -1298,
         -990,  -902,  -616,   484]])

In [10]:
# key matrix
A = np.zeros((dim, dim), dtype = int)
for i in range(dim):
    for j in range(i+1):
        A[i, j] = 1;
A

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [11]:
BA = np.dot(B, A)
BA

array([[20610, 18585, 17460, 15570, 13860, 12915, 10170,  8010,  7560,
         4950,  4680,  3510,  2430],
       [40245, 36939, 33150, 30243, 27960, 26529, 24393, 20025, 16299,
        11985, 10800,  5757,  3822],
       [42217, 38808, 36484, 32319, 28175, 24892, 20664, 18648, 16954,
        12411,  9072,  7098,  4424],
       [46207, 43267, 40278, 35035, 30233, 28077, 25137, 22932, 18375,
        13818, 11221,  5929,  3430],
       [49397, 44810, 41456, 39055, 34947, 29842, 26252, 24328, 20766,
        16267, 11204,  7150,  3092],
       [38319, 36250, 34596, 30241, 26546, 23862, 19789, 18294, 12954,
        10377,  6328,  2485,  1433],
       [47716, 45473, 42013, 40033, 37063, 31659, 26870, 21901, 19673,
        14851, 12785,  9208,  4086],
       [52228, 48492, 45748, 43252, 39676, 34500, 31240, 27288, 20984,
        17460, 11660,  6284,  2120],
       [46459, 43877, 38751, 34230, 30748, 27402, 21963, 18183, 17608,
        11879, 10097,  6258,  2964],
       [49814, 47351, 42896, 40036, 37682, 32238, 28100, 24533, 21428,
        17283, 11857,  7314,  2170],
       [35133, 30870, 27709, 24431, 21781, 19150, 16289, 15045, 12659,
         7545,  4622,   540,  -902],
       [ 7956,  9238,  7621,  6708,  7115,  6153,  3765,  3461,  3256,
         2663,  1094,  1094, -1071],
       [-8624, -7546, -7480, -7062, -6534, -5280, -4928, -4576, -3322,
        -2024, -1034,  -132,   484]])

In [12]:
file_to_be_sent = open('encrypted.txt', 'w')

In [13]:
string = str(1) + ' ' + str(dim) + ' '
for i in range(dim):
    for j in range(dim):
        string += str(BA[i, j]) + ' '
string

'1 13 20610 18585 17460 15570 13860 12915 10170 8010 7560 4950 4680 3510 2430 40245 36939 33150 30243 27960 26529 24393 20025 16299 11985 10800 5757 3822 42217 38808 36484 32319 28175 24892 20664 18648 16954 12411 9072 7098 4424 46207 43267 40278 35035 30233 28077 25137 22932 18375 13818 11221 5929 3430 49397 44810 41456 39055 34947 29842 26252 24328 20766 16267 11204 7150 3092 38319 36250 34596 30241 26546 23862 19789 18294 12954 10377 6328 2485 1433 47716 45473 42013 40033 37063 31659 26870 21901 19673 14851 12785 9208 4086 52228 48492 45748 43252 39676 34500 31240 27288 20984 17460 11660 6284 2120 46459 43877 38751 34230 30748 27402 21963 18183 17608 11879 10097 6258 2964 49814 47351 42896 40036 37682 32238 28100 24533 21428 17283 11857 7314 2170 35133 30870 27709 24431 21781 19150 16289 15045 12659 7545 4622 540 -902 7956 9238 7621 6708 7115 6153 3765 3461 3256 2663 1094 1094 -1071 -8624 -7546 -7480 -7062 -6534 -5280 -4928 -4576 -3322 -2024 -1034 -132 484 '

In [14]:
for i in range(dim):
    for j in range(dim):
        string += str(D2[i, j]) + ' '
string

'1 13 20610 18585 17460 15570 13860 12915 10170 8010 7560 4950 4680 3510 2430 40245 36939 33150 30243 27960 26529 24393 20025 16299 11985 10800 5757 3822 42217 38808 36484 32319 28175 24892 20664 18648 16954 12411 9072 7098 4424 46207 43267 40278 35035 30233 28077 25137 22932 18375 13818 11221 5929 3430 49397 44810 41456 39055 34947 29842 26252 24328 20766 16267 11204 7150 3092 38319 36250 34596 30241 26546 23862 19789 18294 12954 10377 6328 2485 1433 47716 45473 42013 40033 37063 31659 26870 21901 19673 14851 12785 9208 4086 52228 48492 45748 43252 39676 34500 31240 27288 20984 17460 11660 6284 2120 46459 43877 38751 34230 30748 27402 21963 18183 17608 11879 10097 6258 2964 49814 47351 42896 40036 37682 32238 28100 24533 21428 17283 11857 7314 2170 35133 30870 27709 24431 21781 19150 16289 15045 12659 7545 4622 540 -902 7956 9238 7621 6708 7115 6153 3765 3461 3256 2663 1094 1094 -1071 -8624 -7546 -7480 -7062 -6534 -5280 -4928 -4576 -3322 -2024 -1034 -132 484 38 45 17 5 15 40 56 52 52 17 57 1 42 45 25 42 38 21 61 48 10 58 6 26 24 54 38 42 51 49 18 8 44 33 47 10 59 45 46 31 26 49 52 49 34 0 26 43 63 18 34 44 22 19 56 49 26 52 1 60 46 43 49 6 24 59 40 0 30 52 37 37 44 46 38 61 46 18 25 18 39 31 36 37 39 60 5 49 35 20 5 1 33 33 31 58 57 60 10 52 11 22 57 57 43 32 3 33 58 20 31 52 62 55 63 57 35 46 62 51 34 6 45 12 1 55 22 49 6 0 2 55 55 11 46 62 38 5 15 49 22 41 5 49 3 19 24 57 16 16 57 59 45 41 28 -22 62 29 61 39 42 7 57 0 1 20 41 -22 58 '

In [15]:
file_to_be_sent.write(string)
file_to_be_sent.close()